
/* line 1 : /opt/mootools/website/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /opt/mootools/website/views/css/mixins.styl */

/* line 1206 : /opt/mootools/website/views/css/global.styl */

/* line 13 : /opt/mootools/website/node_modules/nib/lib/nib/index.styl */

/* line 2 : /opt/mootools/website/node_modules/nib/lib/nib/border.styl */

/* line 2 : /opt/mootools/website/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /opt/mootools/website/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /opt/mootools/website/node_modules/nib/lib/nib/flex.styl */

/* line 154 : /opt/mootools/website/node_modules/nib/lib/nib/gradients.styl */

/* line 154 : /opt/mootools/website/node_modules/nib/lib/nib/config.styl */

/* line 2 : /opt/mootools/website/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /opt/mootools/website/node_modules/nib/lib/nib/image.styl */

/* line 15 : /opt/mootools/website/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /opt/mootools/website/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /opt/mootools/website/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /opt/mootools/website/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /opt/mootools/website/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /opt/mootools/website/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /opt/mootools/website/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /opt/mootools/website/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 557 : /opt/mootools/website/node_modules/nib/lib/nib/vendor.styl */

/* line 557 : /opt/mootools/website/node_modules/nib/lib/nib/config.styl */
@font-face {
  font-family: "Entypo";
  src: url("/fonts/entypo.eot");
  src: url("/fonts/entypo.eot?#iefix") format("embedded-opentype"), url("/fonts/entypo.woff") format("woff"), url("/fonts/entypo.ttf") format("truetype"), url("/fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Entypo Social";
  src: url("/fonts/entypo-social.eot");
  src: url("/fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("/fonts/entypo-social.woff") format("woff"), url("/fonts/entypo-social.ttf") format("truetype"), url("/fonts/entypo-social.svg#entypo-social") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 26 : /opt/mootools/website/views/css/global.styl */
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
li,
menu,
ol,
p,
pre,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 31 : /opt/mootools/website/views/css/global.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 37 : /opt/mootools/website/views/css/global.styl */
ol,
ul {
  list-style: none;
}

/* line 43 : /opt/mootools/website/views/css/global.styl */
button,
input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-transform: none;
  vertical-align: baseline;
}

/* line 55 : /opt/mootools/website/views/css/global.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

/* line 59 : /opt/mootools/website/views/css/global.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 63 : /opt/mootools/website/views/css/global.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 66 : /opt/mootools/website/views/css/global.styl */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 70 : /opt/mootools/website/views/css/global.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 74 : /opt/mootools/website/views/css/global.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 77 : /opt/mootools/website/views/css/global.styl */
legend {
  white-space: normal;
}

/* line 80 : /opt/mootools/website/views/css/global.styl */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 87 : /opt/mootools/website/views/css/global.styl */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  vertical-align: baseline;
}

/* line 92 : /opt/mootools/website/views/css/global.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 98 : /opt/mootools/website/views/css/global.styl */
sub {
  bottom: -0.25em;
}

/* line 101 : /opt/mootools/website/views/css/global.styl */
sup {
  top: -0.5em;
}

/* line 104 : /opt/mootools/website/views/css/global.styl */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 109 : /opt/mootools/website/views/css/global.styl */
q,
blockquote {
  quotes: none;
}

/* line 112 : /opt/mootools/website/views/css/global.styl */
q:before,
blockquote:before,
q:after,
blockquote:after {
  content: "";
  content: none;
}

/* line 119 : /opt/mootools/website/views/css/global.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 126 : /opt/mootools/website/views/css/global.styl */
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 134 : /opt/mootools/website/views/css/global.styl */
hr {
  border: 0;
  border-top: solid 1px #e5e3df;
  display: block;
  height: 0px;
  margin: 0;
  padding: 0;
}

/* line 148 : /opt/mootools/website/views/css/global.styl */
body {
  background: #fff;
  font-size: 1em;
}

/* line 154 : /opt/mootools/website/views/css/global.styl */
.clearfix {
  zoom: 1;
}

/* line 23 : /opt/mootools/website/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 27 : /opt/mootools/website/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:after {
  clear: both;
}

/* line 159 : /opt/mootools/website/views/css/global.styl */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 163 : /opt/mootools/website/views/css/global.styl */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 175 : /opt/mootools/website/views/css/global.styl */
::-moz-selection {
  background: #777571;
  color: #fff;
  text-shadow: none;
}

/* line 180 : /opt/mootools/website/views/css/global.styl */
::selection {
  background: #777571;
  color: #fff;
  text-shadow: none;
}

/* line 187 : /opt/mootools/website/views/css/global.styl */
a,
.grey-link.grey-link-override a {
  color: #777571;
  display: inline-block;
  text-decoration: none;
}

/* line 192 : /opt/mootools/website/views/css/global.styl */
a:hover,
.grey-link.grey-link-override a:hover {
  color: #777571;
}

/* line 195 : /opt/mootools/website/views/css/global.styl */
a:active,
.grey-link.grey-link-override a:active,
a:focus,
.grey-link.grey-link-override a:focus {
  background: #777571;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff !important;
  outline: none;
}

/* line 203 : /opt/mootools/website/views/css/global.styl */
body,
button,
html,
input,
select,
textarea {
  color: #777571;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

/* line 208 : /opt/mootools/website/views/css/global.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

/* line 211 : /opt/mootools/website/views/css/global.styl */
b,
strong {
  font-weight: 400;
}

/* line 214 : /opt/mootools/website/views/css/global.styl */
pre {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-family: "Source Code Pro", "Lucida Console", "Monaco", "Courier New", monospace;
  font-size: 0.85em;
  font-weight: 400;
  padding: 1em;
}

/* line 223 : /opt/mootools/website/views/css/global.styl */
code {
  background: #f4f1ed;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  font-family: "Source Code Pro", "Lucida Console", "Monaco", "Courier New", monospace;
  font-size: 0.75em;
  font-weight: 600;
  padding: 0.25em 0.5em;
  vertical-align: baseline;
}

/* line 233 : /opt/mootools/website/views/css/global.styl */
pre code {
  background: transparent;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 1em;
  font-weight: 400;
  padding: 0;
}

/* line 241 : /opt/mootools/website/views/css/global.styl */
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f4f1ed;
  border: solid transparent 1px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777571;
  cursor: pointer;
}

/* line 249 : /opt/mootools/website/views/css/global.styl */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: solid #e5e3df 1px;
}

/* line 255 : /opt/mootools/website/views/css/global.styl */
.button {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777571 !important;
  display: block;
  font-size: 1.1em;
  position: relative;
}

/* line 263 : /opt/mootools/website/views/css/global.styl */
.button span {
  display: block;
  padding: 0.5em 0.6em;
  line-height: 1;
}

/* line 268 : /opt/mootools/website/views/css/global.styl */
.button span span {
  padding: 0;
}

/* line 271 : /opt/mootools/website/views/css/global.styl */
.button span span.icon {
  font-size: 400%;
  position: absolute;
  top: 0.3em;
  right: 0.1em;
  line-height: 0;
}

/* line 278 : /opt/mootools/website/views/css/global.styl */
.button span.version {
  display: block;
  font-size: 0.8em;
  margin-top: 0.2em;
}

/* line 283 : /opt/mootools/website/views/css/global.styl */
.button.highlighted {
  background: #acaaa7;
  color: #fff !important;
}

/* line 286 : /opt/mootools/website/views/css/global.styl */
.button.highlighted .icon {
  color: #fff;
}

/* line 290 : /opt/mootools/website/views/css/global.styl */
.lighter {
  color: #acaaa7;
}

/* line 293 : /opt/mootools/website/views/css/global.styl */
a:active .lighter,
a:focus .lighter {
  color: #fff;
}

/* line 297 : /opt/mootools/website/views/css/global.styl */
.darker {
  color: #777571;
}

/* line 300 : /opt/mootools/website/views/css/global.styl */
a:active .darker,
a:focus .darker {
  color: #fff;
}

/* line 303 : /opt/mootools/website/views/css/global.styl */
.summary {
  font-size: 1.4em;
}

/* line 306 : /opt/mootools/website/views/css/global.styl */
.description {
  font-size: 1.2em;
}

/* line 309 : /opt/mootools/website/views/css/global.styl */
.npm {
  background: #777571;
  color: #fff;
  margin: 1em 0;
}

/* line 314 : /opt/mootools/website/views/css/global.styl */
.command {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid #e5e3df 1px;
  display: block;
  font-weight: 400;
  margin-bottom: 0.5em;
  padding: 0.15em 0.5em 0.25em;
}

/* line 322 : /opt/mootools/website/views/css/global.styl */
.wrapper {
  margin: 0 auto;
  max-width: 64em;
  padding: 0 4%;
}

/* line 329 : /opt/mootools/website/views/css/global.styl */
.arrow:after {
  content: "";
  font-family: "Entypo";
}

/* line 333 : /opt/mootools/website/views/css/global.styl */
.icon {
  bottom: -0.1em;
  color: #acaaa7;
  font-size: 220%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 341 : /opt/mootools/website/views/css/global.styl */
a:active .icon,
a:focus .icon {
  color: #fff;
}

/* line 344 : /opt/mootools/website/views/css/global.styl */
.previous:after {
  content: "";
  font-family: "Entypo";
}

/* line 348 : /opt/mootools/website/views/css/global.styl */
.next:after {
  content: "";
  font-family: "Entypo";
}

/* line 352 : /opt/mootools/website/views/css/global.styl */
.download:after {
  content: "";
  font-family: "Entypo";
}

/* line 356 : /opt/mootools/website/views/css/global.styl */
.github:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 360 : /opt/mootools/website/views/css/global.styl */
.twitter:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 364 : /opt/mootools/website/views/css/global.styl */
.facebook:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 368 : /opt/mootools/website/views/css/global.styl */
.googleplus:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 372 : /opt/mootools/website/views/css/global.styl */
.search {
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  cursor: pointer;
}

/* line 378 : /opt/mootools/website/views/css/global.styl */
.search:after {
  color: #e5e3df;
  content: "\1F50D";
  font-family: "Entypo";
}

/* line 386 : /opt/mootools/website/views/css/global.styl */
#global-bar {
  -webkit-box-shadow: #e5e3df 0px 0px 30px;
  box-shadow: #e5e3df 0px 0px 30px;
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
  z-index: 100;
}

/* line 393 : /opt/mootools/website/views/css/global.styl */
#global-bar div.wrapper {
  position: relative;
}

/* line 395 : /opt/mootools/website/views/css/global.styl */
#global-bar div.wrapper div.right {
  bottom: 0;
  position: absolute;
  right: 4%;
}

/* line 400 : /opt/mootools/website/views/css/global.styl */
#global-bar ul {
  float: left;
}

/* line 402 : /opt/mootools/website/views/css/global.styl */
#global-bar ul li {
  float: left;
  margin-right: 0.5em;
}

/* line 405 : /opt/mootools/website/views/css/global.styl */
#global-bar ul li a {
  background: #f4f1ed;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid #f4f1ed 1px;
  display: block;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.3em 0.5em;
}

/* line 413 : /opt/mootools/website/views/css/global.styl */
#global-bar ul li a:active,
#global-bar ul li a:focus {
  background: #777571;
  border-color: #777571;
}

/* line 417 : /opt/mootools/website/views/css/global.styl */
#global-bar ul li.selected a {
  background: #777571;
  border-color: #777571;
  color: #fff;
}

/* line 423 : /opt/mootools/website/views/css/global.styl */
body.mootools #global-bar {
  padding-bottom: 2em;
  padding-top: 2em;
}

/* line 426 : /opt/mootools/website/views/css/global.styl */
body.mootools #global-bar h1 {
  padding: 0;
}

/* line 429 : /opt/mootools/website/views/css/global.styl */
#logo {
  float: left;
}

/* line 431 : /opt/mootools/website/views/css/global.styl */
#logo h1 img {
  height: 70px !important;
}

/* line 433 : /opt/mootools/website/views/css/global.styl */
#logo p img {
  height: 27px;
}

/* line 436 : /opt/mootools/website/views/css/global.styl */
#search {
  float: left;
  margin-left: 0.5em;
}

/* line 439 : /opt/mootools/website/views/css/global.styl */
#search label {
  display: block;
  position: relative;
}

/* line 443 : /opt/mootools/website/views/css/global.styl */
#search input {
  background: transparent;
  border-color: #e5e3df;
  display: block;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.3em 0.5em;
}

/* line 450 : /opt/mootools/website/views/css/global.styl */
#search input:focus {
  border-color: #acaaa7;
}

/* line 454 : /opt/mootools/website/views/css/global.styl */
#header {
  border-bottom: solid #777571 1px;
}

/* line 456 : /opt/mootools/website/views/css/global.styl */
#header h1 img {
  height: 90px;
  width: auto;
}

/* line 460 : /opt/mootools/website/views/css/global.styl */
#header a {
  color: #acaaa7;
  font-size: 1.125em;
}

/* line 463 : /opt/mootools/website/views/css/global.styl */
#header a:active,
#header a:focus {
  background: transparent;
}

/* line 465 : /opt/mootools/website/views/css/global.styl */
#header a:active span,
#header a:focus span {
  background: #777571;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 473 : /opt/mootools/website/views/css/global.styl */
.about {
  background: #f4f1ed;
  padding-top: 0em;
  padding-bottom: 1em;
}

/* line 478 : /opt/mootools/website/views/css/global.styl */
.about .introduction p {
  font-size: 1.4em;
  margin: 1em 0;
}

/* line 482 : /opt/mootools/website/views/css/global.styl */
.about .license {
  background: #acaaa7;
  border: solid #e5e3df 1px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  margin: 1.5em 0 0;
  padding: 1em;
}

/* line 489 : /opt/mootools/website/views/css/global.styl */
.about .license h2 {
  margin-bottom: 0.5em;
}

/* line 491 : /opt/mootools/website/views/css/global.styl */
.about .license a {
  color: #fff;
  text-decoration: underline;
}

/* line 508 : /opt/mootools/website/views/css/global.styl */
.updates {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 512 : /opt/mootools/website/views/css/global.styl */
.updates div.box {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 1em;
}

/* line 517 : /opt/mootools/website/views/css/global.styl */
.updates h3 {
  font-weight: 400;
  margin-bottom: 1em;
}

/* line 521 : /opt/mootools/website/views/css/global.styl */
.blog {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 525 : /opt/mootools/website/views/css/global.styl */
.blog a {
  position: relative;
}

/* line 528 : /opt/mootools/website/views/css/global.styl */
.blog hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 532 : /opt/mootools/website/views/css/global.styl */
.blog h2 {
  font-size: 2.5em;
}

/* line 534 : /opt/mootools/website/views/css/global.styl */
.blog h3 {
  font-size: 2.5em;
}

/* line 537 : /opt/mootools/website/views/css/global.styl */
.blog small {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-size: 0.8em;
  font-weight: 400;
  margin: 0.5em 0 2em;
  padding: 0.5em 1em;
}

/* line 545 : /opt/mootools/website/views/css/global.styl */
.blog small a {
  background: #acaaa7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline;
  padding: 0 0.5em;
}

/* line 552 : /opt/mootools/website/views/css/global.styl */
.blog small .comments {
  float: right;
}

/* line 555 : /opt/mootools/website/views/css/global.styl */
.blog .post p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 1em 0;
}

/* line 559 : /opt/mootools/website/views/css/global.styl */
.blog .post p a {
  font-weight: 600;
  text-decoration: underline;
}

/* line 564 : /opt/mootools/website/views/css/global.styl */

/* line 565 : /opt/mootools/website/views/css/global.styl */
.blog .pagination a {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 1em;
  width: 46%;
}

/* line 571 : /opt/mootools/website/views/css/global.styl */
.blog .pagination a .icon {
  font-size: 320%;
}

/* line 574 : /opt/mootools/website/views/css/global.styl */
.blog .pagination .older {
  float: left;
  text-align: right;
}

/* line 578 : /opt/mootools/website/views/css/global.styl */
.blog .pagination .newer {
  float: right;
  text-align: left;
}

/* line 582 : /opt/mootools/website/views/css/global.styl */
.blog .pagination .icon.previous {
  float: left;
  margin-right: 0.5em;
}

/* line 586 : /opt/mootools/website/views/css/global.styl */
.blog .pagination .icon.next {
  float: right;
  margin-left: 0.5em;
}

/* line 592 : /opt/mootools/website/views/css/global.styl */

/* line 593 : /opt/mootools/website/views/css/global.styl */
.overview .summary,
.overview .description {
  margin-bottom: 1.5em;
}

/* line 596 : /opt/mootools/website/views/css/global.styl */
.overview .license {
  font-size: 0.8em;
  margin: 1em 0 3em;
}

/* line 600 : /opt/mootools/website/views/css/global.styl */

/* line 601 : /opt/mootools/website/views/css/global.styl */
.overview .use li {
  float: left;
  width: 50%;
}

/* line 604 : /opt/mootools/website/views/css/global.styl */
.overview .use li a {
  margin: 0 0 0 0.35em;
}

/* line 607 : /opt/mootools/website/views/css/global.styl */
.overview .use li:first-child a {
  margin: 0 0.35em 0 0;
}

/* line 610 : /opt/mootools/website/views/css/global.styl */
.overview .use .button {
  height: 3em;
}

/* line 613 : /opt/mootools/website/views/css/global.styl */

/* line 614 : /opt/mootools/website/views/css/global.styl */
.overview.home-page a {
  display: block;
}

/* line 617 : /opt/mootools/website/views/css/global.styl */
.overview.home-page img {
  height: 90px;
  width: auto;
}

/* line 621 : /opt/mootools/website/views/css/global.styl */
.overview .big-link {
  font-size: 1.313em;
}

/* line 624 : /opt/mootools/website/views/css/global.styl */
.features a {
  display: block;
  position: relative;
}

/* line 631 : /opt/mootools/website/views/css/global.styl */
#menu {
  -webkit-box-shadow: #e5e3df 0px 0px 30px;
  box-shadow: #e5e3df 0px 0px 30px;
  padding: 0 0 1em;
}

/* line 634 : /opt/mootools/website/views/css/global.styl */
#menu a {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid #e5e3df 1px;
  display: block;
  padding: 0.6em 0 0.4em;
  text-align: center;
}

/* line 640 : /opt/mootools/website/views/css/global.styl */
#menu a:active,
#menu a:focus {
  border-color: #e5e3df;
}

/* line 643 : /opt/mootools/website/views/css/global.styl */
#menu img {
  height: 1.6em;
}

/* line 646 : /opt/mootools/website/views/css/global.styl */
#sitemap {
  font-size: 0.8em;
}

/* line 648 : /opt/mootools/website/views/css/global.styl */
#sitemap h3 {
  color: #cfcecb;
  font-weight: 400;
}

/* line 652 : /opt/mootools/website/views/css/global.styl */
#sitemap ul li a {
  display: block;
}

/* line 654 : /opt/mootools/website/views/css/global.styl */
#sitemap ul li a span.icon {
  margin-right: 0.2em;
}

/* line 658 : /opt/mootools/website/views/css/global.styl */
#credits {
  font-size: 0.8em;
}

/* line 660 : /opt/mootools/website/views/css/global.styl */
#credits p {
  margin: 0 0 1em;
}

/* line 663 : /opt/mootools/website/views/css/global.styl */
#credits img.mootools {
  height: 2em;
}

/* line 669 : /opt/mootools/website/views/css/global.styl */
.docs {
  padding-bottom: 2em;
}

/* line 672 : /opt/mootools/website/views/css/global.styl */
.docs .versions {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #acaaa7;
  margin: 0 0 2em;
  padding: 0.5em 1em;
}

/* line 678 : /opt/mootools/website/views/css/global.styl */
.docs .versions h3 {
  float: left;
}

/* line 681 : /opt/mootools/website/views/css/global.styl */
.docs .versions ul {
  float: right;
}

/* line 683 : /opt/mootools/website/views/css/global.styl */
.docs .versions ul li {
  font-weight: 400;
  float: left;
  margin: 0 0 0 0.5em;
  position: relative;
}

/* line 689 : /opt/mootools/website/views/css/global.styl */
.docs .versions a {
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ccc7c1 !important;
  font-size: 0.85em;
  padding: 0.25em 0.5em;
}

/* line 695 : /opt/mootools/website/views/css/global.styl */
.docs .versions a.selected {
  background: #fff;
  color: #777571 !important;
}

/* line 698 : /opt/mootools/website/views/css/global.styl */
.docs .versions a.selected:after {
  background: #fff;
  bottom: -4px;
  content: "";
  display: block;
  height: 6px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 6px;
}

/* line 711 : /opt/mootools/website/views/css/global.styl */
.docs .toc {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid #e5e3df 1px;
  font-size: 0.9em;
  line-height: 1em;
}

/* line 717 : /opt/mootools/website/views/css/global.styl */
.docs .toc ul {
  border-top: solid #e5e3df 1px;
  padding: 1em 1em;
}

/* line 720 : /opt/mootools/website/views/css/global.styl */
.docs .toc ul:first-child {
  border-top: none;
}

/* line 723 : /opt/mootools/website/views/css/global.styl */
.docs .toc ul li ul {
  border-top: none;
  padding: 0;
}

/* line 727 : /opt/mootools/website/views/css/global.styl */
.docs .toc ul a {
  color: #777571 !important;
  display: block;
  margin: 0.5em 0 0;
}

/* line 731 : /opt/mootools/website/views/css/global.styl */
.docs .toc ul a:active,
.docs .toc ul a:focus {
  color: #fff !important;
}

/* line 734 : /opt/mootools/website/views/css/global.styl */
.docs .toc ul a.top {
  font-size: 1.2em;
  margin: 0 0 1em;
}

/* line 738 : /opt/mootools/website/views/css/global.styl */
.docs .toc a.top:after {
  color: #acaaa7;
  content: "";
  float: right;
  font-family: "Entypo";
  font-size: 140%;
}

/* line 745 : /opt/mootools/website/views/css/global.styl */
.docs .content {
  margin: 0 0 2em;
}

/* line 747 : /opt/mootools/website/views/css/global.styl */
.docs .content h1 {
  border-top: solid 1px #e5e3df;
  margin: 3em 0 0;
  padding: 1.5em 0 0;
}

/* line 751 : /opt/mootools/website/views/css/global.styl */
.docs .content h1:first-child {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 756 : /opt/mootools/website/views/css/global.styl */
.docs .content h2 {
  background: #777571;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 2em 0 0.5em;
  padding: 0.15em 0.5em 0.25em;
}

/* line 761 : /opt/mootools/website/views/css/global.styl */
.docs .content h2 a {
  color: #fff !important;
}

/* line 764 : /opt/mootools/website/views/css/global.styl */
.docs .content h3 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid #e5e3df 1px;
  font-weight: 400;
  margin: 1.5em 0 0;
  padding: 0.15em 0.5em 0.25em;
}

/* line 771 : /opt/mootools/website/views/css/global.styl */
.docs .content h4 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid #f4f1ed 1px;
  color: #acaaa7;
  font-size: 1.125em;
  font-weight: 400;
  margin: 1.5em 0 0.5em;
  padding: 0.15em 0.5em 0.25em;
}

/* line 780 : /opt/mootools/website/views/css/global.styl */
.docs .content h5 {
  color: #acaaa7;
  font-size: 1em;
  font-weight: 400;
  margin: 1.5em 0 0;
}

/* line 786 : /opt/mootools/website/views/css/global.styl */
.docs .content p {
  margin: 0.5em 0;
}

/* line 789 : /opt/mootools/website/views/css/global.styl */
.docs .content ol {
  counter-reset: li;
/* Initiate a counter */
  list-style: none;
/* Remove default numbering */
  *list-style: decimal;
/* Keep using default numbering for IE6/7 */
  position: relative;
}

/* line 794 : /opt/mootools/website/views/css/global.styl */
.docs .content ol li {
  margin: 0.5em 0 0 1.5em;
}

/* line 796 : /opt/mootools/website/views/css/global.styl */
.docs .content ol li:before {
  background: #f4f1ed;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: counter(li);
  counter-increment: li;
  font-size: 0.75em;
  font-weight: 600;
  left: 0;
  padding: 0.15em 0.5em;
  position: absolute;
}

/* line 807 : /opt/mootools/website/views/css/global.styl */
.docs .content ul li {
  margin: 0.5em 0 0;
}

/* line 809 : /opt/mootools/website/views/css/global.styl */
.docs .content ul li:after {
  content: "";
  float: left;
  font-family: "Entypo";
  font-size: 160%;
  margin: 0 0.25em 0 0;
}

/* line 816 : /opt/mootools/website/views/css/global.styl */
.docs .content pre {
  margin: 0.5em 0 0;
}

/* line 820 : /opt/mootools/website/views/css/global.styl */
.heading {
  position: relative;
}

/* line 823 : /opt/mootools/website/views/css/global.styl */
a.back-to-top {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777571 !important;
  font-size: 0.8em;
  margin-top: -3.4em;
  padding: 0.25em 0.5em;
  position: absolute !important;
  right: 0.5em;
}
@media only screen and (max-width: 47.999em) /* Less than 600 pixels */ {

/* line 838 : /opt/mootools/website/views/css/global.styl */
  .arrow:after {
    font-size: 160%;
    margin-left: 0.25em;
    position: relative;
    top: 0.1em;
    vertical-align: baseline;
  }

/* line 846 : /opt/mootools/website/views/css/global.styl */
  .home-page .arrow:after {
    top: 0.08em;
  }

/* line 849 : /opt/mootools/website/views/css/global.styl */
  .slider:after {
    content: "";
    float: right;
    font-family: "Entypo";
    font-size: 140%;
  }

/* line 855 : /opt/mootools/website/views/css/global.styl */
  .overview {
    padding-top: 2em;
    padding-bottom: 180px;
    position: relative;
  }

/* line 860 : /opt/mootools/website/views/css/global.styl */
  .overview .big-icon {
    width: 100%;
    bottom: 0;
    left: 0;
    height: 180px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    text-align: center;
  }

/* line 870 : /opt/mootools/website/views/css/global.styl */
  .overview .big-icon img {
    height: auto;
    opacity: 0.2;
    filter: alpha(opacity=20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    max-width: 320px;
  }

/* line 875 : /opt/mootools/website/views/css/global.styl */
  .overview .summary {
    font-size: 120%;
  }

/* line 878 : /opt/mootools/website/views/css/global.styl */
  .overview .description {
    font-size: 100%;
  }

/* line 881 : /opt/mootools/website/views/css/global.styl */
  .modules {
    padding-top: 1em;
    padding-bottom: 1em;
  }

/* line 884 : /opt/mootools/website/views/css/global.styl */
  .modules div {
    margin-top: 1em;
  }

/* line 887 : /opt/mootools/website/views/css/global.styl */
  .modules .docs {
    margin-top: 1em;
  }

/* line 889 : /opt/mootools/website/views/css/global.styl */
  .modules .docs a {
    display: block;
  }

/* line 893 : /opt/mootools/website/views/css/global.styl */
  .features {
    padding-top: 1em;
    padding-bottom: 1em;
  }

/* line 896 : /opt/mootools/website/views/css/global.styl */
  .features section {
    margin-top: 1em;
  }

/* line 898 : /opt/mootools/website/views/css/global.styl */
  .features section:first-child {
    margin-top: 0;
  }

/* line 901 : /opt/mootools/website/views/css/global.styl */
  .features section p {
    max-width: 80%;
  }

/* line 904 : /opt/mootools/website/views/css/global.styl */
  .features section a p {
    margin-top: 0.5em;
  }

/* line 908 : /opt/mootools/website/views/css/global.styl */
  .docs .content {
    margin-top: 2em;
  }

/* line 911 : /opt/mootools/website/views/css/global.styl */

/* line 912 : /opt/mootools/website/views/css/global.styl */

/* line 913 : /opt/mootools/website/views/css/global.styl */
  .docs .toc ul a.top {
    margin-bottom: 0;
  }

/* line 916 : /opt/mootools/website/views/css/global.styl */
  .docs .toc ul ul {
    display: none;
/* Simulate JS slider behaviour. It has to be replaced with JS. */
  }

/* line 920 : /opt/mootools/website/views/css/global.styl */
  .updates section {
    margin-top: 1em;
  }

/* line 922 : /opt/mootools/website/views/css/global.styl */
  .updates section:nth-of-type(1) {
    margin-top: 0;
  }

/* line 925 : /opt/mootools/website/views/css/global.styl */
  #logo {
    float: none;
  }

/* line 927 : /opt/mootools/website/views/css/global.styl */
  #logo h1 {
    text-align: center;
  }

/* line 930 : /opt/mootools/website/views/css/global.styl */
  .home-page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

/* line 933 : /opt/mootools/website/views/css/global.styl */
  .home-page .big-icon {
    display: none;
  }

/* line 936 : /opt/mootools/website/views/css/global.styl */
  #global-bar div.wrapper div.right {
    position: static;
    margin-top: 1.5em;
  }

/* line 939 : /opt/mootools/website/views/css/global.styl */
  #global-bar div.wrapper div.right ul {
    display: none;
  }

/* line 942 : /opt/mootools/website/views/css/global.styl */
  body.mootools #search {
    float: none;
    margin: 0 auto;
    position: static;
    max-width: 293px;
  }

/* line 947 : /opt/mootools/website/views/css/global.styl */
  body.mootools #search input {
    width: 100%;
  }

/* line 950 : /opt/mootools/website/views/css/global.styl */

/* line 951 : /opt/mootools/website/views/css/global.styl */
  #header .wrapper {
    padding: 0;
  }

/* line 954 : /opt/mootools/website/views/css/global.styl */
  #header h1 {
    padding: 0.5em 4%;
  }

/* line 957 : /opt/mootools/website/views/css/global.styl */

/* line 958 : /opt/mootools/website/views/css/global.styl */
  #header ul li {
    overflow: hidden;
    height: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

/* line 963 : /opt/mootools/website/views/css/global.styl */
  #header ul li a {
    border-top: solid #e5e3df 1px;
    cursor: pointer;
    display: block;
    padding: 0.5em 4%;
  }

/* line 969 : /opt/mootools/website/views/css/global.styl */
  #header ul.opened li,
  #header ul li.selected {
    height: 2.6em;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 973 : /opt/mootools/website/views/css/global.styl */
  #menu li {
    float: left;
    width: 50%;
    margin: 1em 0 0;
  }

/* line 977 : /opt/mootools/website/views/css/global.styl */
  #menu li:nth-of-type(1n) a {
    margin: 0 0.5em 0 0;
  }

/* line 980 : /opt/mootools/website/views/css/global.styl */
  #menu li:nth-of-type(2n) a {
    margin: 0 0 0 0.5em;
  }

/* line 983 : /opt/mootools/website/views/css/global.styl */
  #footer.wrapper {
    padding: 0;
  }

/* line 986 : /opt/mootools/website/views/css/global.styl */
  #sitemap div {
    border-bottom: solid 1px #e5e3df;
  }

/* line 988 : /opt/mootools/website/views/css/global.styl */
  #sitemap div h3 {
    background: #fff;
    color: #acaaa7;
    cursor: pointer;
    padding: 0.5em 4%;
  }

/* line 994 : /opt/mootools/website/views/css/global.styl */
  #sitemap div ul {
    display: none;
/* Simulate JS slider behaviour. It has to be replaced with JS. */
  }

/* line 997 : /opt/mootools/website/views/css/global.styl */
  #credits {
    padding: 1em 4% 2em;
  }
}
@media only screen and (min-width: 48em) /* More or equal to 768 pixels */ {

/* line 1006 : /opt/mootools/website/views/css/global.styl */
  .arrow:after {
    font-size: 160%;
    margin-left: 0.25em;
    position: relative;
    top: 0.1em;
    vertical-align: baseline;
  }

/* line 1013 : /opt/mootools/website/views/css/global.styl */
  .overview {
    padding-top: 2em;
    position: relative;
  }

/* line 1016 : /opt/mootools/website/views/css/global.styl */
  .overview .big-icon {
    bottom: 0;
    height: 230px;
    overflow: hidden;
    position: absolute;
    right: 4%;
    width: 400px;
    z-index: -1;
  }

/* line 1024 : /opt/mootools/website/views/css/global.styl */
  .overview .big-icon img {
    height: auto;
    opacity: 0.2;
    filter: alpha(opacity=20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    width: 100%;
  }

/* line 1029 : /opt/mootools/website/views/css/global.styl */
  .overview .use {
    max-width: 40%;
  }

/* line 1032 : /opt/mootools/website/views/css/global.styl */
  .modules {
    padding-top: 2em;
    padding-bottom: 2em;
  }

/* line 1036 : /opt/mootools/website/views/css/global.styl */
  .modules section {
    position: relative;
  }

/* line 1039 : /opt/mootools/website/views/css/global.styl */
  .modules div {
    margin-top: 2em;
    width: 48%;
  }

/* line 1042 : /opt/mootools/website/views/css/global.styl */
  .modules div:nth-of-type(1) {
    float: left;
  }

/* line 1045 : /opt/mootools/website/views/css/global.styl */
  .modules div:nth-of-type(2) {
    float: right;
  }

/* line 1048 : /opt/mootools/website/views/css/global.styl */
  .modules div pre {
    margin-top: 1em;
  }

/* line 1051 : /opt/mootools/website/views/css/global.styl */
  .modules .docs {
    position: absolute;
    right: 0;
    top: 0;
  }

/* line 1056 : /opt/mootools/website/views/css/global.styl */
  .features {
    padding-top: 2em;
    padding-bottom: 2em;
  }

/* line 1060 : /opt/mootools/website/views/css/global.styl */
  .features section {
    float: left;
    width: 33.333%;
  }

/* line 1063 : /opt/mootools/website/views/css/global.styl */
  .features section:nth-of-type(1) a {
    margin: 0 1.75em 0 0;
  }

/* line 1066 : /opt/mootools/website/views/css/global.styl */
  .features section:nth-of-type(2) a {
    margin: 0 1.25em 0;
  }

/* line 1069 : /opt/mootools/website/views/css/global.styl */
  .features section:nth-of-type(3) a {
    margin: 0 0 0 1.75em;
  }

/* line 1072 : /opt/mootools/website/views/css/global.styl */
  .features section a p {
    margin-top: 1em;
  }

/* line 1075 : /opt/mootools/website/views/css/global.styl */

/* line 1076 : /opt/mootools/website/views/css/global.styl */
  .docs .toc {
    float: left;
    width: 26%;
  }

/* line 1080 : /opt/mootools/website/views/css/global.styl */
  .docs .content {
    float: right;
    width: 70%;
  }

/* line 1084 : /opt/mootools/website/views/css/global.styl */
  .about {
    padding-top: 2em;
    padding-bottom: 2em;
  }

/* line 1088 : /opt/mootools/website/views/css/global.styl */
  .about .introduction {
    float: left;
    width: 70%;
  }

/* line 1092 : /opt/mootools/website/views/css/global.styl */
  .about .license {
    float: right;
    width: 25%;
  }

/* line 1096 : /opt/mootools/website/views/css/global.styl */
  .home-page {
    padding-top: 2em;
    padding-bottom: 2em;
  }

/* line 1100 : /opt/mootools/website/views/css/global.styl */
  .updates {
    padding-top: 2em;
    padding-bottom: 2em;
  }

/* line 1103 : /opt/mootools/website/views/css/global.styl */
  .updates section {
    float: left;
    width: 33.333%;
  }

/* line 1106 : /opt/mootools/website/views/css/global.styl */
  .updates section:nth-of-type(1) div.box {
    margin: 0 1.75em 0 0;
  }

/* line 1109 : /opt/mootools/website/views/css/global.styl */
  .updates section:nth-of-type(2) div.box {
    margin: 0 1.25em 0;
  }

/* line 1112 : /opt/mootools/website/views/css/global.styl */
  .updates section:nth-of-type(3) div.box {
    margin: 0 0 0 1.75em;
  }

/* line 1116 : /opt/mootools/website/views/css/global.styl */

/* line 1117 : /opt/mootools/website/views/css/global.styl */
  #header .wrapper div {
    position: relative;
  }

/* line 1120 : /opt/mootools/website/views/css/global.styl */
  #header h1 {
    padding: 1em 0;
  }

/* line 1123 : /opt/mootools/website/views/css/global.styl */
  #header nav {
    bottom: 0em;
    position: absolute;
    right: 0;
  }

/* line 1127 : /opt/mootools/website/views/css/global.styl */
  #header nav ul li {
    float: left;
    margin-left: 1em;
  }

/* line 1130 : /opt/mootools/website/views/css/global.styl */
  #header nav ul li:first-child {
    margin-left: 0;
  }

/* line 1133 : /opt/mootools/website/views/css/global.styl */
  #header nav ul li a {
    position: relative;
  }

/* line 1135 : /opt/mootools/website/views/css/global.styl */
  #header nav ul li a span {
    position: relative;
    top: -1em;
  }

/* line 1139 : /opt/mootools/website/views/css/global.styl */
  #header nav ul li.selected a {
    color: #777571;
  }

/* line 1141 : /opt/mootools/website/views/css/global.styl */
  #header nav ul li.selected a:after {
    background: #fff;
    border: solid 1px;
    border-color: #777571 #777571 transparent transparent;
    bottom: -6px;
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
  }

/* line 1156 : /opt/mootools/website/views/css/global.styl */
  #menu {
    padding-top: 1em;
  }

/* line 1158 : /opt/mootools/website/views/css/global.styl */
  #menu li {
    float: left;
    width: 25%;
  }

/* line 1162 : /opt/mootools/website/views/css/global.styl */
  #menu li:nth-of-type(1) a {
    margin: 0 0.6em 0 0;
  }

/* line 1165 : /opt/mootools/website/views/css/global.styl */
  #menu li:nth-of-type(2) a {
    margin: 0 0.45em 0 0.3em;
  }

/* line 1168 : /opt/mootools/website/views/css/global.styl */
  #menu li:nth-of-type(3) a {
    margin: 0 0.3em 0 0.45em;
  }

/* line 1171 : /opt/mootools/website/views/css/global.styl */
  #menu li:nth-of-type(4) a {
    margin: 0 0 0 0.6em;
  }

/* line 1174 : /opt/mootools/website/views/css/global.styl */
  #footer.wrapper {
    padding-top: 2em;
    padding-bottom: 4em;
  }

/* line 1178 : /opt/mootools/website/views/css/global.styl */
  #sitemap {
    float: right;
  }

/* line 1181 : /opt/mootools/website/views/css/global.styl */
  #sitemap div {
    float: left;
    margin-left: 2em;
  }

/* line 1185 : /opt/mootools/website/views/css/global.styl */
  #sitemap h3 {
    margin-bottom: 0.3em;
  }

/* line 1188 : /opt/mootools/website/views/css/global.styl */
  #credits {
    float: left;
  }

/* line 1191 : /opt/mootools/website/views/css/global.styl */
  .prime .big-icon {
    height: 230px;
    width: 340px;
  }

/* line 1195 : /opt/mootools/website/views/css/global.styl */
  .elements .big-icon {
    height: 230px;
    width: 340px;
  }

/* line 1199 : /opt/mootools/website/views/css/global.styl */
  .moofx .big-icon {
    height: 250px;
    width: 340px;
  }

/* line 1203 : /opt/mootools/website/views/css/global.styl */
  .agent .big-icon {
    height: 250px;
    width: 340px;
  }
}

/* line 1 : /opt/mootools/website/views/css/colorscheme.styl */

/* line 5 : /opt/mootools/website/views/css/colorscheme.styl */

/* line 2 : /opt/mootools/website/views/css/colorscheme.styl */
pre span.keyword {
  color: #b05098;
}

/* line 2 : /opt/mootools/website/views/css/colorscheme.styl */
pre span.number {
  color: #429bc1;
}

/* line 2 : /opt/mootools/website/views/css/colorscheme.styl */
pre span.string {
  color: #83a440;
}

/* line 2 : /opt/mootools/website/views/css/colorscheme.styl */
pre span.comment {
  color: #bcb9b3;
}

/* line 1 : /opt/mootools/website/views/agent/css/style.styl */

/* line 3 : /opt/mootools/website/views/css/mixins.styl */
.agent #header {
  border-color: #47388a;
}

/* line 5 : /opt/mootools/website/views/css/mixins.styl */
.agent #header nav ul li.selected a {
  color: #47388a;
}

/* line 7 : /opt/mootools/website/views/css/mixins.styl */
.agent #header nav ul li.selected a:after {
  border-color: #47388a #47388a transparent transparent;
}

/* line 10 : /opt/mootools/website/views/css/mixins.styl */

/* line 11 : /opt/mootools/website/views/css/mixins.styl */
.agent .main .color {
  color: #47388a;
}

/* line 13 : /opt/mootools/website/views/css/mixins.styl */
.agent .main .button.highlighted {
  background-color: #47388a;
}

/* line 15 : /opt/mootools/website/views/css/mixins.styl */
.agent .main h2 {
  color: #47388a;
}

/* line 17 : /opt/mootools/website/views/css/mixins.styl */
.agent .main a {
  color: #47388a;
}

/* line 19 : /opt/mootools/website/views/css/mixins.styl */
.agent .main a:active,
.agent .main a:focus {
  color: #fff !important;
}

/* line 21 : /opt/mootools/website/views/css/mixins.styl */
.agent .main a:active h2,
.agent .main a:focus h2 {
  color: #fff !important;
}

/* line 23 : /opt/mootools/website/views/css/mixins.styl */
.agent .main .docs .toc a.top {
  color: #47388a !important;
}

/* line 25 : /opt/mootools/website/views/css/mixins.styl */
.agent .main .selected {
  background-color: #47388a;
  border-color: #47388a;
}

/* line 1 : /opt/mootools/website/views/prime/css/style.styl */

/* line 3 : /opt/mootools/website/views/css/mixins.styl */
.prime #header {
  border-color: #eb6f14;
}

/* line 5 : /opt/mootools/website/views/css/mixins.styl */
.prime #header nav ul li.selected a {
  color: #eb6f14;
}

/* line 7 : /opt/mootools/website/views/css/mixins.styl */
.prime #header nav ul li.selected a:after {
  border-color: #eb6f14 #eb6f14 transparent transparent;
}

/* line 10 : /opt/mootools/website/views/css/mixins.styl */

/* line 11 : /opt/mootools/website/views/css/mixins.styl */
.prime .main .color {
  color: #eb6f14;
}

/* line 13 : /opt/mootools/website/views/css/mixins.styl */
.prime .main .button.highlighted {
  background-color: #eb6f14;
}

/* line 15 : /opt/mootools/website/views/css/mixins.styl */
.prime .main h2 {
  color: #eb6f14;
}

/* line 17 : /opt/mootools/website/views/css/mixins.styl */
.prime .main a {
  color: #eb6f14;
}

/* line 19 : /opt/mootools/website/views/css/mixins.styl */
.prime .main a:active,
.prime .main a:focus {
  color: #fff !important;
}

/* line 21 : /opt/mootools/website/views/css/mixins.styl */
.prime .main a:active h2,
.prime .main a:focus h2 {
  color: #fff !important;
}

/* line 23 : /opt/mootools/website/views/css/mixins.styl */
.prime .main .docs .toc a.top {
  color: #eb6f14 !important;
}

/* line 25 : /opt/mootools/website/views/css/mixins.styl */
.prime .main .selected {
  background-color: #eb6f14;
  border-color: #eb6f14;
}

/* line 1 : /opt/mootools/website/views/moofx/css/style.styl */

/* line 3 : /opt/mootools/website/views/css/mixins.styl */
.moofx #header {
  border-color: #8d2e85;
}

/* line 5 : /opt/mootools/website/views/css/mixins.styl */
.moofx #header nav ul li.selected a {
  color: #8d2e85;
}

/* line 7 : /opt/mootools/website/views/css/mixins.styl */
.moofx #header nav ul li.selected a:after {
  border-color: #8d2e85 #8d2e85 transparent transparent;
}

/* line 10 : /opt/mootools/website/views/css/mixins.styl */

/* line 11 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main .color {
  color: #8d2e85;
}

/* line 13 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main .button.highlighted {
  background-color: #8d2e85;
}

/* line 15 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main h2 {
  color: #8d2e85;
}

/* line 17 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main a {
  color: #8d2e85;
}

/* line 19 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main a:active,
.moofx .main a:focus {
  color: #fff !important;
}

/* line 21 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main a:active h2,
.moofx .main a:focus h2 {
  color: #fff !important;
}

/* line 23 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main .docs .toc a.top {
  color: #8d2e85 !important;
}

/* line 25 : /opt/mootools/website/views/css/mixins.styl */
.moofx .main .selected {
  background-color: #8d2e85;
  border-color: #8d2e85;
}

/* line 1 : /opt/mootools/website/views/elements/css/style.styl */

/* line 3 : /opt/mootools/website/views/css/mixins.styl */
.elements #header {
  border-color: #bb191d;
}

/* line 5 : /opt/mootools/website/views/css/mixins.styl */
.elements #header nav ul li.selected a {
  color: #bb191d;
}

/* line 7 : /opt/mootools/website/views/css/mixins.styl */
.elements #header nav ul li.selected a:after {
  border-color: #bb191d #bb191d transparent transparent;
}

/* line 10 : /opt/mootools/website/views/css/mixins.styl */

/* line 11 : /opt/mootools/website/views/css/mixins.styl */
.elements .main .color {
  color: #bb191d;
}

/* line 13 : /opt/mootools/website/views/css/mixins.styl */
.elements .main .button.highlighted {
  background-color: #bb191d;
}

/* line 15 : /opt/mootools/website/views/css/mixins.styl */
.elements .main h2 {
  color: #bb191d;
}

/* line 17 : /opt/mootools/website/views/css/mixins.styl */
.elements .main a {
  color: #bb191d;
}

/* line 19 : /opt/mootools/website/views/css/mixins.styl */
.elements .main a:active,
.elements .main a:focus {
  color: #fff !important;
}

/* line 21 : /opt/mootools/website/views/css/mixins.styl */
.elements .main a:active h2,
.elements .main a:focus h2 {
  color: #fff !important;
}

/* line 23 : /opt/mootools/website/views/css/mixins.styl */
.elements .main .docs .toc a.top {
  color: #bb191d !important;
}

/* line 25 : /opt/mootools/website/views/css/mixins.styl */
.elements .main .selected {
  background-color: #bb191d;
  border-color: #bb191d;
}

/* line 3 : /opt/mootools/website/views/css/mootools.styl */

/* line 1 : /opt/mootools/website/views/css/mootools.styl */
.mootools #header {
  border-bottom: 1px solid #e5e3df;
}
